*.py[co]
*.egg
*.egg-info
bin/
build/
develop-eggs/
parts/
etc/development.ini
etc/staging.ini
etc/production.ini
etc/supervisord.conf
etc/crate.yml
testing.ini
.DS\_Store
.installed.cfg
.coverage
var/crate
var/export.db
nginx/logs/
deploy/doc
deploy/files/supervisord.conf
deploy/files/supervisord.init.d
deploy/files/config.ini
